<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Gender</th>
      <th scope="col">Is_active</th>
    </tr>
  </thead>
  <tbody>
    {% for peoples in people %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{peoples.name}}</td>
      <td>{% if peoples.age <= 20 %}Underage
      {% elif peoples.age <= 40 %}Adult
      {% else %}Old
      {% endif %}
       {{peoples.age}}
      </td>
      <td>@{{peoples.address}}</td>
      <td>{{peoples.email}}</td>
      <td>{{peoples.phone}}</td>
      <td>{{peoples.gender}}</td>
      <td>{{peoples.is_active}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>