{% extends 'base.html' %}
{% block title %}Homepage{%  endblock %}
{% block content %}
<table class="table table-success table-striped-columns">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Gender</th>
      <th scope="col">Is_active</th>
    </tr>
  </thead>
  <tbody>
    {% for peoples in people %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{peoples.name}}</td>
      <td>{% if peoples.age <= 20 %}Underage
      {% elif peoples.age <= 40 %}Adult
      {% else %}Old
      {% endif %}
       {{peoples.age}}
      </td>
      <td>@{{peoples.address}}</td>
      <td>{{peoples.email}}</td>
      <td>{{peoples.phone}}</td>
      <td>{{peoples.gender}}</td>
      <td>{{peoples.is_active}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%  endblock %}